body{
    background-color: #bcd3e9;
}.logo {
    width: 60%;
}
.cover {
    text-align: center;
}
.cover2 {
    width: 25%;
}
.innerStyle img{
    width: 200px;
    margin-left: 30px;
}


.innerStyle {
    margin: 10px;
    padding: 1opx;
    background-color: rgb(43, 89, 173);
    border: 1px solid rgb(155, 152, 152);
    border-radius: 15px;
}


#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

button.btn.btn-primary {
    background-color: #076f47;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button.btn.btn-primary:hover {
    background-color: #076f47;
}


#container button{
    background-color: #289feecd;
    color: #fff;
    width: 20%;
    height: 20%;
    margin: 20px;
    border: #2f5688cd;
}


#container button:hover {
    background-color: #1a79d1;
}

.footerclass {
    text-align: center;
    
}
#footer{
    background-color: rgba(8, 47, 105, 0.444);
    color: rgb(0, 0, 0);
    margin: 20px;
    padding: 15px; 
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 7px;
}